<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />

	
</head>
<body>

<style>
section#contact form {
	padding-top: 5em;
	padding-bottom: 3em;
}
</style>
<header>
		<div class="container">
			<!-- 				row 1  -->
			<a class="brand pull-left" href="#">Company name</a>
			<ul class="list-inline list-unstyled pull-right">
				<li><a href="#">About</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>
	
	<section id="contact" class="container">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
			
				<form class="form-horizontal">
				
					<div class="form-group">
						<label class="col-sm-2 control-label" for="contact-name">Name</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" id="contact-name" placeholder="Full name"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="contact-email">Email</label>
						<div class="col-sm-10">
							<input class="form-control" type="email" id="contact-email" placeholder="Contact email"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="contact-email">Message</label>
						<div class="col-sm-10">
							<textarea rows="3" class="form-control" placeholder="Type your message"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<label class="checkbox">
								<input type="checkbox" value="">I want to subscribe to receive updates from the company</input>
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-success btn-log" type="submit">Submitw</button>
						</div>
					</div>
				</form>
			
			</div>
		</div>
	</section>
	
	
	<footer>
		<div class="container">
			<div class="col-sm-2">
				<img src="imgs/dog.jpg" class="img-thumbnail"/>
			</div>
			<div class="col-sm-2">
				<h5>The company</h5>
				<ul class="list-unstyled">
					<li><a href="#">Documentation</a></li>
					<li><a href="#">Richard publisher</a></li>
					<li><a href="#">Über mich</a></li>
					<li><a href="#">Kontakte</a></li>
				</ul> 
			</div>
			<div class="col-sm-2">
				<h5>Social</h5>
				<ul class="list-unstyled">
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
			<div class="col-sm-2">
				<h5>Support</h5>
				<ul class="list-unstyled">
					<li><a href="#">Contact</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<address>
					<strong>Name, Inc.</strong>
					Adress line 1<br/>
					Adress line 2<br/>
					<abbr title="Phone">P:</abbr> (123) 456-7890
				</address>
			</div>
		</div>
	</footer>
	
	<script   src="https://code.jquery.com/jquery-3.2.1.slim.js"   integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="   crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
	
</body>
</html>