<!DOCTYPE html >
<html>
    <head>
        <style>
            .large {
                width: 500px;
                height: 500px;
            }
            .medium {
                width: 250px;;
                height: 250px;;
            }
            .small {
                width: 100px;;
                height: 100px;;
            }
        </style>
    </head>
    <body>
        <img src="imgs/dog.jpg" class="large" alt="Magnolia" />
        <img src="imgs/landscape.jpg" class="medium" alt="Magnolia" />
        <img src="imgs/buttons.png" class="small" alt="Magnolia" />
    </body>
</html>