<!DOCTYPE html>
<html>
<head>
    <style>
        div {
            display: inline;
        }
    </style>
</head>
<body>
    <h2>Überschrift 2</h2><h3>Überschrift 3</h3><h5>Überschrift 5</h5>
    <div>erstes div</div><div>zweites div</div><div>drittes div</div>
    <p>Wort 1</p><p>Wort 2</p><p>Wort 3</p>
    <iframe
        width="450"
        height="350"
        src="https://www.google.de/maps/place/K%C3%B6nigswinterer+Str.,+Bonn/@50.7257646,7.1480444,17z/data=!3m1!4b1!4m5!3m4!1s0x47bee14c6eb88c6b:0x1c75cf0035878bf6!8m2!3d50.7257646!4d7.1502331">
        
    </iframe>
</body>
</html>